{% extends 'base.html' %}
{% load static %}
{% block title %}Daily Post{% endblock title %}
{% block content %}
    <header class="masthead" style="background-image:url('{% static 'assets/img/home-bg.jpg' %}');">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto">
                    <div class="site-heading">
                        <h1>Daily Post</h1><span class="subheading">A Blog For Everyone <br>{% if request.user.is_authenticated %}Welcome <br>{{user.username}}{% endif %}</span></div>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row">
       
            <div class="col-md-10 col-lg-8">
             {% for post in posts %}
                <div class="post-preview">
                    <a href="/post/{{post.id}}/ ">
                        <h2 class="post-title">{{post.title}}</h2>
                        <h3 class="post-subtitle">{{post.category}}</h3>
                    </a>
                    <p class="post-meta">Posted by&nbsp;<a href="#">{{post.uploader}} on {{post.date}}</a></p>
                </div>
                <hr>
                {% endfor %}
                <div class="clearfix"><button class="btn btn-primary float-right" type="button">All Posts ⇒</button></div>
            </div>
            
        </div>
    </div>
    {% endblock content %}