{% extends 'base.html' %}
{% block title %}Daily Post-Posts{% endblock title %}
{% load static %}

{% block content %}

 <header class="masthead" style="background-image:url('./{{singlePost.image}}');">
        <div class="overlay"></div>
        
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto">
                    <div class="post-heading">
                        <h1>{{singlePost.title}}</h1>
                        <h2 class="subheading">{{singlePost.category}}</h2><span class="meta">Posted by&nbsp;<a href="#">{{singlePost.uploader}} </a>&nbsp;on {{singlePost.date}}</span></div>


                </div>
            </div>
        </div>
    </header>
 
    <article>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto">
                {{singlePost.content}}
                   <a href="{{singlePost.credit}}">Credit Link&nbsp;</a>
                    
                </div>
            </div>
        </div>
    </article>
    
{% endblock content %}
   
